<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">

  <select id="selectOne" resultType="com.hwkim.mvc04.vo.BoardVo">
    select * from Board where no = #{no}
  </select>
  
  <select id="selectAll" resultType="com.hwkim.mvc04.vo.BoardVo">
  	select * from Board ORDER BY no desc
  </select>
  
  <insert id="insert" >
  	insert into Board(no, title, writer, content, regdate, hitcount, passwd)
  	values( BOARD_SEQ.NEXTVAL, #{title}, #{writer}, #{content}, 
        to_char(SYSDATE,'YYYY-MM-DD'), 0, #{passwd}   )
  </insert>

  <update id="update"> 
  	update Board 
  	set title=#{title}, content=#{content} 
  	where no=#{no} 
  </update>
  
  <delete id="delete"> 
	delete from Board where no = #{no} 
  </delete>
</mapper>
